* {
  background-color: black;
}
.container {
  position: fixed;
  inset: 0px;
  width: 50rem;
  height: 5rem;
  max-width: 100vw;
  max-height: 100dvh;
  margin: auto;
}
.typing-text-container {
  .text {
    position: relative;
    color: #4070f4;
    font-size: 3rem;
    font-weight: 600;
    text-align: left;

    &.first-text {
      color: #fff;
    }
  }
}

.typewriter-container {
  display: flex;
}

.typewriter {
  margin-left: 12px;
}
.cursor-text {
  color: #4070f4;
  font-size: 3rem;
  font-weight: 600;
  animation: cursor 1s linear infinite;
}

@keyframes cursor {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
