@import "./partials/socials";
@import "./partials/nav";
@import "./partials/title";
@import "./partials/pages";
@import "./partials/setup";
@import "./partials/experience";
@import "./partials/about";
@import "./partials/contact";

.highlight {
  text-decoration: none;
  font-weight: 400;
  color: #90aead;
}

.highlight:hover {
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.left-half {
  align-items: center;
  display: flex;
  padding: 0rem 0rem 0rem 10rem;
  flex: 1;
  .hub-container {
    flex: 1;
    user-select: none;
  }
}
.right-half {
  align-items: center;
  display: flex;
  padding: 0rem 10rem 0rem 0rem;
  color: #fbe9d0;
  flex: 1;
  .content-container {
    flex: 1;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  font-size: 0.8rem;
  width: 30%;
  color: #90aead;
  text-align: center;
  opacity: 0;
  animation: fade-in 1s ease-in forwards;
  left: 50%;
  transform: translateX(-50%);
}

// fade in animations
@keyframes fade-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.typing-text-container,
.typewrite-container,
.nav-container,
.socials-container {
  opacity: 0;
  transform: translateX(-30rem);
  animation: fade-in-from-left 0.8s ease-in-out forwards;
}
.typing-text-container {
  animation-delay: 250ms;
}
.nav-container {
  animation-delay: 300ms;
}
.socials-container {
  animation-delay: 450ms;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(30rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.page-child:nth-child(1),
.page-child:nth-child(2),
.page-child:nth-child(3),
.page-child:nth-child(4),
.page-child:nth-child(5),
.page-title {
  opacity: 0;
  transform: translateX(30rem);
  animation: fade-in-from-right 0.8s ease-in-out forwards;
}
.page-title {
  animation-delay: 50ms;
}
.page-child:nth-child(1) {
  animation-delay: 150ms;
}
.page-child:nth-child(2) {
  animation-delay: 250ms;
}
.page-child:nth-child(3) {
  animation-delay: 350ms;
}
.page-child:nth-child(4) {
  animation-delay: 450ms;
}
.page-child:nth-child(5) {
  animation-delay: 550ms;
}

// viewport handlers
@media (max-width: 1777px) {
  .fav-songs {
    grid-template-columns: none;
  }
}
@media (max-width: 1700px) {
  .left-half {
    padding: 0rem 0rem 0rem 5rem;
  }
  .right-half {
    padding: 0rem 5rem 0rem 0rem;
  }
  .an {
    display: none;
  }
}

@media (max-width: 1470px) {
  .left-half {
    padding: 0rem 0rem 0rem 1rem;
  }
  .right-half {
    padding: 0rem 1rem 0rem 0rem;
  }
}

@media (max-width: 1360px) {
  .fav-songs {
    grid-template-columns: repeat(3, 1fr);
  }
  .container {
    flex-direction: column;
  }
  .footer {
    position: relative;
    bottom: auto;
    margin-top: 2rem;
    width: 100%;
  }
  .left-half {
    padding: 0rem 10rem 0rem 10rem;
  }
  .right-half {
    padding: 2rem 10rem 0rem 10rem;
  }
  .corner,
  .top-left,
  .top-right,
  .bottom-left,
  .bottom-right {
    display: none;
  }
}
@media (max-width: 1360px) {
  .left-half {
    padding: 0rem 5rem 0rem 5rem;
  }
  .right-half {
    padding: 2rem 5rem 0rem 5rem;
  }
}

@media (max-width: 1360px) {
  .left-half {
    padding: 0rem 1rem 0rem 1rem;
  }
  .right-half {
    padding: 2rem 1rem 0rem 1rem;
  }
}
@media (max-width: 785px) {
  .fav-songs {
    grid-template-columns: none;
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }
}
@media (max-width: 670px) {
  .title {
    font-size: 2rem;
  }
  .socials-container {
    justify-content: space-evenly;
  }
  .bio-container {
    flex-direction: column-reverse;
  }
  .profile-pic {
    margin: auto;
    margin-top: -1rem;
    margin-bottom: 1rem;
  }
  .page-container {
    min-height: 0;
    min-width: 0;
  }
  .my-name {
    color: #e64833;
  }
  .left-half {
    padding: 0rem;
  }
  .right-half {
    padding-top: 2rem;
  }
}

// corners
.corner {
  position: fixed;
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  background-color: #90aead;
  opacity: 0.2;
  &.top-left {
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 0 100%, 15% 100%, 15% 15%, 100% 15%, 100% 0);
  }
  &.top-right {
    top: 0;
    right: 0;
    clip-path: polygon(0 0, 0 15%, 85% 15%, 85% 100%, 100% 100%, 100% 0);
  }

  &.bottom-left {
    bottom: 0;
    left: 0;
    clip-path: polygon(15% 0, 0 0, 0 100%, 100% 100%, 100% 85%, 15% 85%);
  }

  &.bottom-right {
    bottom: 0;
    right: 0;
    clip-path: polygon(85% 85%, 0 85%, 0 100%, 100% 100%, 100% 0, 85% 0);
  }
}
