@import "./partials/_socials.scss";
@import "./partials/_nav.scss";
@import "./partials/_title.scss";

* {
  background-color: #1a1a1d;
}
body {
  overflow-y: hidden;
}

.container {
  display: flex;
  height: 100vh;
}
.left-half {
  flex: 0.4;
  .hub-container {
    flex: 1;
    position: absolute;
    top: 28%;
    left: 10%;
    user-select: none;
  }
}
.right-half {
  color: #fff;
  flex: 0.6;
  .content-container {
    flex: 1;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  font-size: 0.8rem;
  width: 100%;
  color: #4e4e50;
  text-align: center;
}

// Fade in animations
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.typing-text-container,
.typewrite-container,
.nav-container,
.socials-container {
  opacity: 0; /* Ensure initial opacity is set */
  transform: translateX(-30rem); /* Ensure initial transform is set */
  animation: fadein 0.8s ease-in-out forwards;
}
.typing-text-container {
  animation-delay: 400ms;
}
.nav-container {
  animation-delay: 550ms;
}
.socials-container {
  animation-delay: 700ms;
}
