@import "./pages";

.profile-pic {
  border-radius: 10px;
  border-width: 0.2rem;
  border-color: #f2e9e4;
  border-style: solid;
  margin-top: -1rem;
  margin-left: 1rem;
  opacity: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-pic:hover {
  transform: rotate(3deg);
}

.bio-container {
  display: flex;
}

.hobby-container {
  margin-top: 1rem;
}

.spotify-container {
  display: flex;
  flex-direction: column;
  .spotify-text {
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    color: #c9ada7;
  }
}

.spotify-card {
  opacity: 0;
  animation: 2s fadein forwards;
  animation-delay: 1s;
}

.fav-songs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
