.nav-container {
  color: #afcdac;
  font-size: 2rem;
  ul {
    margin-top: 2rem;
    margin-left: 2rem;
    li {
      position: relative;
      margin-bottom: 1rem;
    }
    list-style: none;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}
.nav-button {
  padding-left: 0.7rem;
  transition: padding-left 0.3s ease, color 0.3s ease;
  &::after {
    content: "/";
    position: absolute;
    left: 0;
    transition: left 0.3s ease;
  }
}

.nav-button:hover {
  padding-left: 0rem;
  color: #e64833;
}
.nav-button.about-link:hover::after {
  left: 5.3rem;
}
.nav-button.experience-link:hover::after {
  left: 9.7rem;
}
.nav-button.projects-link:hover::after {
  left: 7.6rem;
}
.nav-button.contact-link:hover::after {
  left: 7rem;
}
