.project-panel {
  background-color: rgba(0, 0, 0, 0.8) !important;
  background-blend-mode: multiply;
  opacity: 0;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #c9ada7;
  margin: 0.4rem 0;
  transition: margin-left 0.3s ease, border-color 0.3s ease;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  .project-title {
    font-weight: 700;
  }
}

.project-panel:hover {
  margin-left: -1rem;
  border-color: #e64833;
  color: #e64833;
}

.project-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 1rem;
  box-sizing: border-box;

  .project-redirect,
  .project-tech {
    position: relative;
  }
}

.project-content {
  padding: 0.4rem 0 0rem 1rem;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s;
  font-weight: 400;
}

.project-content[aria-hidden="false"] {
  grid-template-rows: 1fr;
}

.project-content > div {
  overflow: hidden;
}

.project-title {
  padding: 0.5rem 0 0.5rem 1rem;
}

.project-title:hover {
  color: #e64833;
}

.project-link {
  float: right;
  padding-right: 0.5rem;
}

.project-tech {
  font-size: 1rem;
  padding: 1rem 0 0 0;
}

.project-description,
.project-tech {
  color: #f2e9e4;
}
