* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #244855;
  overflow: hidden;
}

// remove all the ugly default stuff eugh
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
